# WhatsApp Cloud API
WA_TOKEN=your_access_token_here
WA_PHONE_ID=1081140175088556
VERIFY_TOKEN=ayamtenns_verify_2026

# Google Apps Script
GAS_URL=https://script.google.com/macros/s/AKfycbxfku2DpbromAdHMw3PE2PhnsLje1mGnvM9JwkRp4bV-Ww1gMKmJ24irgrr0Xkx2KfP/exec
